#opigno-custom-course-table-of-contents-form .lesson-title {
  margin: 0;
}
#opigno-custom-course-table-of-contents-form .table-of-contents {
  margin-bottom: 0;
}
#opigno-custom-course-table-of-contents-form .table-of-contents-description {
  font-size: 1.2em;
}

#opigno-custom-course-table-of-contents-form .question-link {
  margin:0;
  color: #0a71b4;
  background-color: transparent;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  transition: all 0.5s;
}

#opigno-custom-course-table-of-contents-form .list-wrapper {
  margin: 0;
  padding: 0;
}
#opigno-custom-course-table-of-contents-form .list-item {
  position: relative;
  display: block;
  padding: .1em;
  margin: .5em 0 .5em 2.5em;
}
#opigno-custom-course-table-of-contents-form ol {
  counter-reset: li;
}
#opigno-custom-course-table-of-contents-form .list-item:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #88c1e6;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  color: #fff;
  transition: all 0.5s;
}

#opigno-custom-course-table-of-contents-form .list-item:hover::before {
  background: #3b8db1;
}
#opigno-custom-course-table-of-contents-form .list-item:hover .question-link {
  color: #3b8db1;
  font-size: 20px;
  line-height: 20px;
}
#opigno-custom-course-table-of-contents-form .list-item:after {
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
}