.PrivateNotes .title {
  font-size: 12px;
  margin: 10px 0 5px;
}

.PrivateNotes .note {
  color: #106;
  font-size: 14px;
}

.PrivateNotes .sep {
  color: #777;
}

.block-private_notes em {
  font-weight: bold;
}

.private-notes-area {
  height: 200px;
  overflow-y: auto;
}
