#opingo_note-list {
  margin-top: 1em;
}

.block-opingo_note ul.links {
  list-style-type: none;
}

#opingo_note_dialog .form-item-title {
  text-align: center;
  padding: 10px;
}

.opingo-note-wraper {
  border: solid 1px #d1d1d1;
  padding: 10px;
  margin-bottom: 10px;
}
.opingo-note-wraper > div.note {
  position: relative;
}
.opingo-note-wraper .note-dud{
  /*padding: 10px 0;*/
  position: absolute;
  top: 5px;
  right: 0;
}
.opingo-note-wraper .note-dud div{
  display: inline-block;
  float: right;
  padding: 0 2px;
}
.opingo-note-wraper .note-edit a,
.opingo-note-wraper .note-delete a {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 19px;
  height: 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-indent: -9999px;
  transition: all 0.5s;
}
.opingo-note-wraper .note-edit a {
  background-image: url('../img/edit-element.png');
}
.opingo-note-wraper .note-edit:hover a {
  background-image: url('../img/edit-element-active.png');
}
.opingo-note-wraper .note-delete a {
  background-image: url('../img/delete-element.png');
}
.opingo-note-wraper .note-delete:hover a {
  background-image: url('../img/delete-element-active.png');
}
.opingo-note-wraper .note-title {
  font-weight: bold;
  margin-right: 50px;
}
.opingo-note-wraper .note-date {
  border-bottom: solid 1px #d1d1d1;
  margin-bottom: 0.5em;
  color: #a5a5a5;
  font-size: smaller;
}
.opingo-note-wraper .opingo-note-delete {
  width: 100%;
  text-align: center;
  background: #a5a5a5;
}

.opingo-note-morecontent span {
  display: none;
  transition: all 0.5s;
}
.opingo-note-morelink {
  display: block;
}