body.page-media-browser,
body.page-media {
  background-color: #ffffff;
  min-height: initial;
}

body.page-media .button {
  border: 0;
  background: #5aa449;
  color: white;
  display: inline-block;
  padding: 0.25em 1em;
  background-position: 0.5em center;
  background-repeat: no-repeat;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 5px;
}

.file-text-oembed.oembed-iframely .content > div {
  width: 100%;
}

.node .field-name-body {
  width: 100%;
}


/* Responsive video embed */
/*.oembed-video .content {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
}

.oembed-video .content iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}*/

/* TIME SPENT */
.view-id-time_spent .views-field-title {
  width: 70%;
}


/* General fixes */
body.cke_show_borders,
body.cke_ltr {
  background: #ffffff;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto !important;
}
.ui-dialog.ui-widget.media-wrapper {
  z-index: 9996;
  border: solid 1px #eeeeee;
}
.media-list-thumbnails .media-item .media-thumbnail {
  width: 100px;
  height: 100px;
}
.media.media-element-container .file .content {
  display: block;
}

#module-filter-modules > table {
  max-width: 100%;
}

#module-filter-modules > table > thead {
  display: table-header-group !important;
}

div.messages {
  /*z-index: 99;*/
}
.ui-dialog.ui-front {
  z-index: 1000;
}

.ui-dialog.views-ui-dialog .ui-dialog-titlebar {
  border: none;
  background: transparent;
  padding: 0;
}
.ui-dialog.views-ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  background-color: transparent;
  margin: 0;
  box-shadow: none;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.ui-dialog.views-ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:hover {
  opacity: 1;
}
.ui-dialog.views-ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:before,
.ui-dialog.views-ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:after {
  position: absolute;
  top: 0;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.ui-dialog.views-ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:before {
  transform: rotate(45deg);
}
.ui-dialog.views-ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:after {
  transform: rotate(-45deg);
}

body.node-type-class .node-class .btgrid .content {
  display: block;
}
tr:first-child td {
  text-transform: none;
}
.cke_inner {
  z-index: 999 !important;
}
.picker.picker-dialog-bg {
  z-index: 9998;
}
.picker.picker-dialog {
  z-index: 9999;
}

@media screen and (max-width: 800px) {
  .node-course-other-fields {
    max-width: 100%;
  }
}

.node-course-other-fields .body-field .label {
  display: none;
}
#quiz-jumper {
  display: inline-block !important;
  padding: 0.1em;
}
ul.tabs li {
  margin-bottom: 0.5em;
}
.form-textarea-wrapper textarea {
  max-width: 100%;
}






/* MY TRAININGS */
.view-my-trainings .opigno-group .views-row {
  display: block;
  padding-bottom: 0;
  min-height: inherit;
}

.view-my-trainings .opigno-group .views-row .views-field-title-1 {
  min-height: inherit;
}

.view-my-trainings .opigno-group .views-row.open .views-field-title-1 .field-content .content-top {
  left: 0;
}

.view-my-trainings .opigno-group .views-row .views-field-title-1 .field-content .content-top {
  position: relative;
  left: 0;
  bottom: 0;
}

.view-my-trainings .link-group {
  float: left;
  margin-right: 10px;
}

.view-my-trainings .link-btn {
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  height: 21px;
  width: 10.5px;
  display: inline-block;
}
.view-my-trainings .link-btn:before {
  transform: rotate(-45deg);
  top: 0;
  position: absolute;
  left: 50%;
  content: '';
  height: 15px;
  width: 2px;
  background-color: #fff;
  transition: 0.15s;
  margin-left: -2px;
  margin-top: -4px;
}
.view-my-trainings .link-btn:after {
  transform: rotate(45deg);
  top: 50%;
  position: absolute;
  left: 50%;
  content: '';
  height: 15px;
  width: 2px;
  background-color: #fff;
  transition: 0.15s;
  margin-left: -2px;
  margin-top: -5px;
}
.view-my-trainings .opigno-group .views-row .views-field-opigno-course-image {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.view-my-trainings .opigno-group .views-row .views-field-opigno-course-image img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .view-my-trainings .opigno-group .views-row .views-field-opigno-class-image img, .view-my-trainings .opigno-group .views-row .views-field-opigno-course-image img {
    top: 50%;
    position: relative;
    transform: none;
  }
}
@media screen and (min-width: 1600px) {
  .view-my-trainings .opigno-group .views-row {
    width: 25%;
  }
}

/* ACTIVE TRAININGS */
#homebox [id^="homebox-block-views_active_trainings"] .opigno-group .views-row {
  display: block;
  padding-bottom: 0;
  min-height: inherit;
}
#homebox [id^="homebox-block-views_active_trainings"] .opigno-group .views-row.open .views-field-title .field-content .content-top {
  left: 0;
}
#homebox [id^="homebox-block-views_active_trainings"] .opigno-group .views-row .views-field-title .field-content .content-top {
  position: relative;
  left: 0;
  bottom: 0;
}
#homebox [id^="homebox-block-views_active_trainings"] .opigno-group .views-row .views-field-opigno-course-image {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
#homebox [id^="homebox-block-views_active_trainings"] .opigno-group .views-row .views-field-opigno-course-image img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  #homebox [id^="homebox-block-views_active_trainings"] .opigno-group .views-row .views-field-opigno-course-image img {
    top: 50%;
    position: relative;
    transform: none;
  }
}
@media screen and (min-width: 801px) {
  #homebox .homebox-column {
    overflow-y: auto;
  }
}

/* MENU */
.main-navigation-row .main-navigation-item span.nolink {
  position: relative;
  display: block;
  height: 100px;
  width: 100%;
  color: #009ee0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  height: inherit;
  cursor: pointer;
}

.main-navigation-row .main-navigation-item span.nolink span.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: inherit;
  height: inherit;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-navigation-row .main-navigation-item span.nolink span.text {
  margin-left: 60px;
  padding: 13px 0;
  font-size: 12px;
  width: 180px;
  display: inline-block;
  text-align: left;
  color: white;
}

#opingo_note_dialog_show span.nolink span.image {
  background-image: url(../img/main-navigation-note-add-icon-inactive.png)
}

#opingo_note_dialog_show span.nolink.active span.image,
#opingo_note_dialog_show span.nolink:hover span.image {
  background-image: url(../img/main-navigation-note-add-icon-active.png)
}

/* DIALOGS */
.ui-widget-content.ui-resizable:after {
  content: ' ';
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 10px 10px 0 0;
  border-color: transparent #bcbcbc transparent transparent;
  border-style: dashed solid dashed dashed;
  font-size: 0;
  vertical-align: bottom;
  margin-top: 6px;
  margin-bottom: 2px;
  position: absolute;
  bottom: 1px;
  right: 3px;
}
.ui-widget .ui-widget-header .ui-state-default {
  border: none;
}
#opingo_note_dialog .field-name-field-note-body .form-item {
  margin-bottom: 1em;
}
#opingo_note_dialog .field-name-field-note-body .form-item > label {
  display: none;
}
#opingo_note_dialog .field-name-field-note-body .text-format-wrapper fieldset.filter-wrapper {
  display: none;
}
button.ui-button:focus {
  outline: none;
}
#opingo_note_dialog .form-item-title {
  margin-top: 0;
}
#opingo_note_dialog .form-item-title input {
  text-transform: inherit;
}
/* Note icon */
#og-context-navigation .platon-og-context-notebook-tab {
  background-image: url('../img/icon-add-note.svg');
}
#og-context-navigation .platon-og-context-notebook-tab:hover {
  background-image: url('../img/icon-add-note-active.svg');
}
#main-navigation-item-notebook-repo a {
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
#main-navigation-item-notebook-repo a span.image {
  background-image: url(../img/icon-notebook-repo.svg);
  width: 25px;
  height: 25px;
  top: 6px;
  left: 6px;
}
#main-navigation-item-notebook-repo a.active,
#main-navigation-item-notebook-repo a:hover {
  border-color: #3b8db1;
}
#main-navigation-item-notebook-repo a.active span.image,
#main-navigation-item-notebook-repo a:hover span.image {
  background-image: url(../img/icon-notebook-repo-active.svg);
}

/* User image */
.custom-user-picture {
  border: 1px solid #ffffff;
  box-shadow: 0 0 1px #ffffff;
}

/* Notebook */
.view-id-notebook .views-field-title-1 {
  font-weight: bold;
  margin-right: 40px;
}
.view-id-notebook .time {
  border-bottom: solid 1px #d1d1d1;
  margin-bottom: 0.5em;
  color: #a5a5a5;
  font-size: smaller;
}

.view-id-notebook .view-grouping,
.view-id-notebook .views-row  {
  border: solid 1px #d1d1d1;
  padding: 10px;
  margin-bottom: 10px;
}

.view-id-notebook .view-grouping .view-grouping-header a {
  display: block;
  line-height: 1;
  width: 98%;
  padding-left: 2%;
  padding-top: .5em;
  padding-bottom: .5em;
  background: #88c1e6;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}
.view-id-notebook .full {
  display: none;
}

.view-id-notebook .opingo-note-content {
  position: relative;
}

.view-id-notebook .note-edit-wrapper {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 28px;
}
.view-id-notebook .note-delete-wrapper {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
}
.view-id-notebook .note-edit-wrapper a {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 19px;
  height: 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-indent: -9999px;
  transition: all 0.5s;
  background-image: url(../img/edit-element.png);
}
.view-id-notebook .note-edit-wrapper a:hover {
  background-image: url('../img/edit-element-active.png');
}

.view-id-notebook .note-delete-wrapper a {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 19px;
  height: 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-indent: -9999px;
  transition: all 0.5s;
  background-image: url(../img/delete-element.png);
}

/* Homebox resume */
#homebox [id^="homebox-block-views_resume_course"] .close-btn {
  cursor: pointer;
  position: relative;
  height: 21px;
  width: 10.5px;
  display: inline-block;
}
#homebox [id^="homebox-block-views_resume_course"] .close-btn::after,
#homebox [id^="homebox-block-views_resume_course"] .close-btn::before {
  position: absolute;
  left: 50%;
  content: '';
  height: 15px;
  width: 2px;
  background-color: #fff;
  transition: 0.15s;
  margin-left: -2px;
  margin-top: -4px
}

#homebox [id^="homebox-block-views_resume_course"] .close-btn::before {
  transform: rotate(-45deg);
  top: 0
}

#homebox [id^="homebox-block-views_resume_course"] .close-btn::after {
  transform: rotate(45deg);
  top: 50%;
  margin-top: -5px
}

.view-resume-course .close-btn {
  margin-top: 1rem
}
#homebox [id^="homebox-block-views_resume_course"] {
  background: none !important;
  padding: 0
}

#homebox [id^="homebox-block-views_resume_course"] .close-btn {
  margin-top: 1rem
}

#homebox [id^="homebox-block-views_resume_course"] img {
  max-width: 100%
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row {
  margin-bottom: 1rem;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  #homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row {
    display:block
  }
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .default-hidden {
  display: none
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row.open .default-visible {
  display: none
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row.open .default-hidden {
  display: block
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row.open .views-field-title .field-content .content-top {
  left: 0
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-class-image,#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-course-image {
  font-size: 0;
}

@media screen and (max-width: 1200px) {
  #homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-class-image,
  #homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-course-image {
    position:relative;
    width: 100%;
    height: 166px;
    overflow: hidden
  }
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-class-image img,#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-course-image img {
  font-size: 1rem
}

@media screen and (max-width: 1200px) {
  #homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-class-image img,#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-course-image img {
    top:50%;
    position: absolute;
    transform: translateY(-50%)
  }
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title {
  flex: 1;
  display: flex
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content {
  color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content a {
  color: inherit;
  text-decoration: none
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-top {
  flex: 1;
  background-color: #3b8db1;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 60px;
  left: 220px;
  transition: 0.4s left
}

@media screen and (max-width: 1200px) {
  #homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-top {
    position:relative;
    left: 0 !important
  }
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-top .title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-bottom .progression {
  border: 1px solid #58585a;
  height: 50px;
  flex: 1
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-bottom .progression .background {
  background-color: #ececeb;
  display: block;
  height: 100%
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-bottom .progression .text {
  position: absolute;
  color: #000;
  top: 50%;
  transform: translateY(-50%);
  left: 25px
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-bottom .pictogram {
  margin-left: 0.5rem
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-bottom .pictogram .link-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-top: 1px solid #58585a;
  border-bottom: 1px solid #58585a;
  text-align: center;
  font-size: 0;
  padding: 0 5px;
  box-sizing: border-box;
  vertical-align: top;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  float: right;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: content-box
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-bottom .pictogram .link-button+.link-button {
  margin-right: 0.5rem
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-bottom .pictogram .link-button.take {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjIuMiAyNi42IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi4yIDI2LjYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzQyNDE0MiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgcG9pbnRzPSIwLjgsMS4zIDIwLjcsMTMuMyAwLjgsMjUuMyAiLz48L3N2Zz4=")
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-bottom .pictogram .link-button.take:hover {
  font-size: 0.7em;
  background-image: none !important;
  color: #000
}









#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row {
  display: block;
  padding-bottom: 0;
  min-height: inherit;
}
#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row.open .views-field-title .field-content .content-top {
  left: 0;
}
#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-title .field-content .content-top {
  position: relative;
  left: 0;
  bottom: 0;
}
#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-course-image {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-course-image img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  #homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-course-image img {
    top: 50%;
    position: relative;
    transform: none;
  }
}
#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-course-image .field-content a:after {
  content: '';
  background: url('../img/play-button.png') no-repeat center;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-size: contain;
  opacity: 0.5;
  transition: all 0.5s;
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-course-image:hover .field-content a:after {
  opacity: 0.9;
}

#homebox [id^="homebox-block-views_resume_course"] .opigno-group .views-row .views-field-opigno-course-image .field-content a {
  position: relative;
  display: block;
}

/* addtocal */
/*.addtocal {
  float: left;
  clear: both;
}
.addtocal:before {
  content: "";
  display: table;
  clear: both;
}*/


/* FEEDBACK */
[id=webform-feedback-block] {
  border-radius: 0;
  height: 445px;
  overflow-y: auto !important;
  box-shadow: none;
  padding: .2em;
  border: none;
  background: #fcfcfc;
  color: #333;
  max-width: 800px;
}
[id=webform-feedback-block] form {
  padding: 0 1em;
}
[id=webform-feedback-block] h2 {
  padding: .4em 1em;
  margin: 0;
  background: #8dbede;
  color: #ffffff;
  font-size: 16px;
}
.webform-feedback {
  background: #88c1e6;
  color: #ffffff;
  border: none;
}
.webform-feedback:hover {
  background: #3b8db1;
  color: #ffffff;
}
[id=formclose] {
  background: transparent;
  max-width: 800px;
  width: 65%;
}
[id=formclose] a {
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: relative;
  text-indent: -9999px;
  margin: 5px 20px;
}
[id=formclose] a:hover {
  background-color: #3b8db1;
}
[id=formclose] a:before,
[id=formclose] a:after {
  position: absolute;
  top: 4px;
  right: 0;
  left: 9px;
  content: ' ';
  height: 11px;
  width: 3px;
  border-radius: 2px;
  background-color: #ffffff;
}
[id=formclose] a:before {
  transform: rotate(45deg);
}
[id=formclose] a:after {
  transform: rotate(-45deg);
}

#popup-announcement-wrap {
  border-radius: 0;
  /*padding-top: 30px;*/
  background: #3b8db1;
  /*background: linear-gradient(to bottom,#3b8db1 0%,#8dbede 100%);*/

}
#popup-announcement-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
}
#popup-announcement-close:hover {
  background: transparent;
}
#popup-announcement-close:before,
#popup-announcement-close:after {
  position: absolute;
  top: 3px;
  left: 12px;
  content: ' ';
  height: 22px;
  width: 2px;
  background-color: #fff;
}
#popup-announcement-close:before {
  transform: rotate(45deg);
}
#popup-announcement-close:after {
  transform: rotate(-45deg);
}

#popup-announcement {
  color: #ffffff;
  padding: 5px 15px;
}


/* Table of contents (course landing page) */
#og-context-navigation .platon-og-context-home-tab {
  background-image: url("../img/icon-bullets.svg");
}

#og-context-navigation .platon-og-context-home-tab.active,
#og-context-navigation .platon-og-context-home-tab:hover {
  background-image: url("../img/icon-bullets-active.svg");
}

@media screen and (min-width: 1201px) {
  #logo {
    left: 2.5%;
    margin-left: 0;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}


/* Masquerade */
#block-system-main > .content {
  position: relative;
}

.masquerade-switch {
  width: 32px;
  height: 32px;
  background: url('../img/privacy_mask-512.png') no-repeat center;
  background-size: cover;
  text-indent: -9999px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
.masquerade-switch:after {
  content: 'Masquerade';
  width: 200%;
  height: 1em;
  color: #333333;
  position: absolute;
  bottom: -6px;
  left: -50%;
  text-indent: 0;
  font-size: 10px;
  line-height: 10px;
}

/* Admin views */
.admin-views-view .views-exposed-form .views-submit-button, .admin-views-view .views-exposed-form .views-reset-button {
  padding-right: 0.5em;
}
.admin-views-view .views-exposed-form .form-text {
  width: auto;
  padding: 8px;
}

/* Class table of contents */
.class-table-of-contents {
  margin-top: 2em;
}
.course-table-of-contents {
  margin-bottom: 2em;
}
.course-table-of-contents .field-name-opigno-course-image {
  margin: 0;
  overflow: hidden;
}
.course-table-of-contents .field-name-opigno-course-image img {
  float: left;
}
.course-table-of-contents .course-contents {
  background-color: #3b8db1;
  color: #ffffff;
  padding: 1rem;
}
.course-table-of-contents .course-contents a {
  color: #ffffff;
  text-decoration: none;
}
.course-table-of-contents .course-contents .list-wrapper {
  margin: 0;
  padding: 0;
}
.course-table-of-contents .course-contents .list-wrapper fieldset {
  margin: 0;
}
.course-table-of-contents .course-contents .list-wrapper fieldset legend {
  margin: 0;
  padding: 5px;
  width: 100%;
}
.course-table-of-contents .course-contents .list-wrapper fieldset legend .fieldset-legend {

}

.course-table-of-contents .course-contents .list-wrapper li {
  line-height: 24px;
  transition: all 0.5s;
}
.course-table-of-contents .course-contents .list-wrapper li:hover {
  /*font-size: 18px;*/
  /*padding-left: 1em;*/
  line-height: 24px;
  color: #8dbede;
}
.course-table-of-contents .course-contents .list-wrapper li a {
  transition: all 0.5s;
}
.course-table-of-contents .course-contents .list-wrapper li:hover a {
  color: #8dbede;
}
.course-table-of-contents .course-contents .lesson-title {
  margin: 0;
  font-size: 18px;
}
.course-table-of-contents .course-contents .course-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.course-table-of-contents .course-contents .course-title a {
  transition: all 0.5s;
}
.course-table-of-contents .course-contents .course-title:hover a {
  color: #8dbede;
}

