<span style='color: #000' title='Frames'>   105</span><span style='color: #009' title='Memory'>   2048.00 KB</span><span style='color: #900' title='Time'>    336.88 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />