#edit-submit-google {
  margin-left: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0 !important;
  vertical-align: middle;
}
#edit-submit-google:hover {
  background-color: transparent !important;
}